
#
# Processor settings
#
CONFIG_CPU_MAX_COUNT=64
CONFIG_IRQ_MAX_CALLBACKS=4
CONFIG_IOAPIC_MAX_COUNT=4
# end of Processor settings

#
# Kernel hacking
#
# CONFIG_BUILD_TESTS is not set
CONFIG_KSH=n
# CONFIG_MPANIC_DUMP is not set
# end of Kernel hacking

#
# Kernel Modules
#

#
# PCI
#
CONFIG_PCI_MAX_DEVICES=32
# end of PCI
# end of Kernel Modules
