menu "Processor settings"

config CPU_MAX_COUNT
    int "Maximum amount of CPUs"
    default 64

config IRQ_MAX_CALLBACKS
    int "Maximum amount of callbacks to be assigned to an IRQ"
    default 4

source "kernel/arch/$(ARCH)/Kconfig"

endmenu

menu "Kernel hacking"

config BUILD_TESTS
    bool "Build tests"
    default false
    help
    This includes a test suite for internal kernel components in the build. To run these tests, see the documentation.

endmenu